<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation Energy</title>
</head>
<body>

    <h1>Formation Energy</h1>
    <form method="POST">
        <p>Select Host Material</p>
        <select name="materials">
            <option value="Cs">Cs</option>
            <option value="Sn">Sn</option>
        </select>

        <input type="submit" value="Submit">
    </form>
    
    {% if formation_energy_value %}
        <p>Formation Energy Value: {{ formation_energy_value }}</p>
    {% endif %}


    <!-- Link back to home -->
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>